@media (max-width: 480px) {
  html,
  body {
    width: fit-content;
  }

  header {
    position: relative;
    height: fit-content;
  }

  .nav-logo {
    position: relative;
    /* display: none; */
    right: 150px;
    height: 70px;
    width: 160px;
  }

  .nav-content {
    position: relative;
    bottom: 4.2rem;
    left: 20%;
  }
  .nav-content a {
    padding: 10px;
    height: 40px;
    width: 110px;
    font-size: 1.3rem;
  }

  .header-content {
    display: flex;
    position: relative;
    left: -10px;
    bottom: 0%;
    width: 650px;
    line-height: 4rem;
    flex-wrap: wrap;
  }
  #heading {
    font-size: 1rem;
  }
  .header-content p {
    font-size: 10px;
  }
  .header-content h3 {
    line-height: 100%;
    font-size: 10px;
  }
  .header-content input {
    position: relative;
    margin: 10px;
    left: 5%;
    height: 3.5rem;
    width: 30rem;
  }
  .header-content button {
    height: 3.5rem;
    width: 20rem;
    position: relative;
    left: 6rem;
    margin-top: 20px;
  }

  .header-content i {
    font-size: 1.5rem;
    position: relative;
    top: 2.5rem;
    left: 1.8rem;
    display: none;
  }

  .main-box1 {
    position: relative;
    top: rem;
    height: 70%;
    width: 90%;
    text-align: center;
    z-index: 2;
  }
  .main-box1 p {
    height: 200px;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 10%;
    left: 23%;
    width: 23rem;
    z-index: 2;
  }

  .main-content {
    height: 95vh;
    display: flex;
  }
  .main-box1 h2 {
    position: relative;
    left: 1%;
    font-size: 3.2rem;
  }
  .main-box2 {
    position: relative;
    top: -14rem;
    height: 60%;
    width: 65%;
    z-index: 1;
  }

  .main-content2 {
    height: 98vh;
    display: flex;
  }

  .main-box4 {
    position: relative;
    width: 70%;
    text-align: center;
    top: -52%;
  }

  .main-box3 {
    position: relative;
    top: 43%;
    height: 50%;
    width: 57%;
  }
  .main-box4 h2 {
    width: 100%;
    font-size: 2.4rem;
  }

  .main-box4 p {
    width: 100%;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .main-content3 {
    height: 98vh;
    display: flex;
  }

  .main-box5 {
    position: relative;
    top: 2em;
    height: 70%;
    width: 90%;
    text-align: center;
  }

  .main-box5 h2 {
    font-size: 3.6rem;
    position: relative;
    right: 40%;
    width: 100vh;
  }

  .main-box5 p {
    font-size: 1.5rem;
    width: 90%;
    /* padding-top: 1.7rem; */
  }
  .main-box6 {
    position: relative;
    margin-top: -13rem;
    top: 3rem;
    left: 2%;
    height: 45%;
    width: 60%;
    z-index: 1;
  }

  .main-content4 {
    height: 98vh;
    flex-wrap: wrap-reverse;
  }

  .main-box7 {
    position: relative;
    top: -0rem;
    height: 50%;
    width: 60%;
  }
  .main-box8 {
    width: 100%;
    position: relative;
    text-align: center;
    top: -0rem;
  }

  .main-box8 h2 {
    font-size: 3.4rem;
  }

  .main-box8 P {
    font-size: 1.5rem;
    width: 80%;
    margin-left: 4rem;
  }

  .main-content5 {
    border: none;
    position: relative;
    display: flex;
    top: 91rem;
  }
  .main-content5 h2 {
    margin-top: 1rem;
    width: 70%;
  }
  .ques {
    position: relative;
    left: 3rem;
    height: 4.5rem;
    width: 85%;
    padding-top: 10px;
    font-size: 2rem;
  }

  .header-content2 {
    padding-bottom: 1rem;
    line-height: 2.5rem;
  }
}
